<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4bf58dd8d48988d179941735</key>
	<string>bagel shops</string>
	<key>4bf58dd8d48988d16a941735</key>
	<string>bakeries</string>
	<key>4bf58dd8d48988d143941735</key>
	<string>breakfast shops</string>
	<key>1</key>
	<string>burger joints 4bf58dd8d48988d16c941735</string>
	<key>4bf58dd8d48988d153941735</key>
	<string>burrito places</string>
	<key>4bf58dd8d48988d16d941735</key>
	<string>cafes</string>
	<key>4bf58dd8d48988d1e0931735</key>
	<string>coffee shops
coffee shops</string>
	<key>4bf58dd8d48988d1bc941735</key>
	<string>cupcake shops</string>
	<key>4bf58dd8d48988d146941735</key>
	<string>delis</string>
	<key>4bf58dd8d48988d1d0941735</key>
	<string>dessert shops</string>
	<key>4bf58dd8d48988d148941735</key>
	<string>donut shop</string>
	<key>4bf58dd8d48988d16e941735</key>
	<string>fast food</string>
	<key>4bf58dd8d48988d114941735</key>
	<string>food court</string>
	<key>4d4ae6fc7a7b7dea34424761</key>
	<string>fried chicken</string>
	<key>4bf58dd8d48988d16f941735</key>
	<string>hot dog joint</string>
	<key>4bf58dd8d48988d1c9941735</key>
	<string>ice cream</string>
	<key>4bf58dd8d48988d112941735</key>
	<string>juice bar</string>
	<key>4bf58dd8d48988d1bf941735</key>
	<string>mac &amp; cheese
mac &amp; cheese</string>
	<key>4bf58dd8d48988d151941735</key>
	<string>taco place</string>
	<key>4bf58dd8d48988d1dc931735</key>
	<string>tea room</string>
</dict>
</plist>
